<div class="container">
    <h2>Refuel Vehicle</h2>
        {{!-- flash messages --}}
    <p style="color: green;" class="green">{{messages.success}}</p>
    <p style="color: red;" class="red">{{messages.error}}</p>
    <br>
    <form action="/refuel" method="POST">
        <select id="vehicle" name="id">
            {{#each all_vehicles}}
            <option value="">Select Vehicle</option>
                <option value="{{this.id}}">{{this.description}} - {{this.reg_number}}</option>
            {{/each}}
        </select><br><br>
        <label for="liters">Liters:</label>
        <input type="number" id="liters" name="liters"><br><br>

        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" ><br><br>

        <label for="distance">Distance:</label>
        <input type="number" id="distance" name="distance" ><br><br>

        <label for="filled_up">Full Tank refil</label>
        <input type="checkbox" id="filled_up" name="filled_up" value=""><br><br>

     <button type="submit" class="btn btn-primary">Refuel</button>
    </form>
         <span><a href="/">Click to see added cars</a></span>  <span><a href="/add">Click here to add a vehicle</a></span>
</div>
{{!-- script for messages to dissapear are 3 seconds --}}
<script>
  setTimeout(function () { document.querySelector('.red').innerHTML = ''; },
  3000);
   setTimeout(function () { document.querySelector('.green').innerHTML = ''; },
  3000);
</script> 

